@model IEnumerable<MVC_BikeStores.Models.products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
   @using (Html.BeginForm()) { 
    <p>Cerca Brand @Html.DropDownList("cercaBrand")
    <input type="submit" value="Cerca" />
    </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brands.brand_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.list_price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brands.brand_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.list_price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.product_id }) 
        </td>
    </tr>
}

</table>
