@model MVC_BikeStore.Models.Stores

@{
    ViewBag.Title = "StoresDetails";
}

<h2>StoresDetails</h2>

<div>
    <h4>Stores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Store_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip_Code)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            First_Name
        </th>
        <th>
            Last_Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Staffs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Details", "DettaglioDipendente", "Staffs", new { id = item.Staff_Id }, null)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
