@model MVC_BikeStore.Models.Products

@{
    ViewBag.Title = "ProductsDetails";
}

<h2>ProductsDetails</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brands.Brand_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brands.Brand_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Category_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.List_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.List_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
